@use "sass:math";



body,
html {
  font-family: "TT Travels", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {

  padding: 0;
  margin: 0;
}
button {
  border: none;
  background: none;
}

@function rem($px) {
  $result: ($px / 16) + rem;
  @return $result;
}

@function percent($pxOne, $pxTwo) {
  $result: ($pxOne / $pxTwo) * 100%;
  @return $result;
}

$maxWidthContainer: 1366px;

@mixin adaptive-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / 1440))
  }

$pc: rem(1480); // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: rem(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: rem(767.98); // телефоны L
$mobileSmall: rem(479.98); // телефоны s


  .container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    @include adaptive-value("padding-left", 120, 20);
    @include adaptive-value("padding-right", 120, 20);
  }


  //-------header--------

  .header {
    position: fixed;
    width: $maxWidthContainer;
    z-index: 5;
    background: white;
    display: flex;
    height: rem(100);
    border-bottom: 4px solid #FD591F;
     @media (max-width: $pc) {
        width: 86.5%;
      }
      @media (max-width: $tablet) {
        height: rem(90);
      }
      @media (max-width: $mobile) {
        flex-direction: column;
        gap: rem(10);
        border-bottom: 2px solid #FD591F;
      }
      &__block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
          @media (max-width: $mobile) {
            padding-top: rem(20);
          }
            &-logo {
                width: rem(80);
                height: rem(35);
                @media (max-width: $mobile) {
                }
                @media (max-width: $mobileSmall) {
                }
            }

            &-menu {
              display: flex;
              width: 45%;
              justify-content: space-between;
                  @media (max-width: $mobile) {
                    display: none;
                  }
              &-item {
                font-family: 'TT Travels';
                font-style: normal;
                font-weight: 500;
                font-size: rem(16);
                line-height: rem(19);
                color: #000000;
              }
            }

            &-nav {
              display: flex;
              gap: rem(22);
              align-items: center;
                @media (max-width: $mobile) {
                  gap: rem(9);
                }
            }

            &-nav-telegram-link {
            }
      }
      &__mobile {
        display: none;
            @media (max-width: $mobile) {
              display: flex;
              justify-content: space-between;
              width: 100%;
            }
          &-item {
            font-family: 'TT Travels';
            font-style: normal;
            font-weight: 500;
            font-size: rem(16);
            line-height: rem(19);
            color: #000000;
          }
      }


}
.telegram-link {
    display: flex;
    align-items: center;
    padding: rem(8) rem(16);
    gap: rem(8);
    background: #26A4E3;
    border-radius: rem(8);
    @media (max-width: $mobile) {
      padding: rem(3) rem(12);
    }
    @media (max-width: $mobileSmall) {
      padding: rem(2) rem(8);
    }
      &__logo {
        @media (max-width: $mobile) {
          width: rem(20);
          height: rem(20);
        }
      }

      &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(22);
        color: #FFFFFF;
          @media (max-width: $mobile) {

          }
      }
}

 //-------header--------


 //-------main--------


.main {
    padding-top: rem(150);
    @include adaptive-value("padding-bottom", 75, 40);
    border-bottom: 4px solid #FD591F;
      @media (max-width: $mobile) {
         border-bottom: 2px solid #FD591F;
         text-align: center;
         padding-top: rem(120);
      }
      &__title {

        font-family: 'TT Travels';
        font-style: normal;
        font-weight: 500;
        font-size: rem(48);
        line-height: rem(58);
        color: #FD591F;
          @media (max-width: $tablet) {
            font-size: rem(37);
            line-height: rem(47);
          }
          @media (max-width: $mobile) {
            font-size: rem(48);
            line-height: rem(52);
          }
          @media (max-width: $mobileSmall) {
            font-size: rem(29);
            line-height: rem(36);
          }
      }

      &__block {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: rem(210) rem(190);
                @media (max-width: $pc) {
                  grid-template-rows: rem(210) rem(165);
                }
                @media (max-width: $tablet) {
                  grid-template-rows: rem(160) rem(110);
                }
                @media (max-width: $mobile) {
                   grid-template-columns: auto;
                   grid-template-rows: auto;
                }

            &-text {
              font-style: normal;
              font-weight: 500;
              font-size: rem(20);
              line-height: rem(24);
              letter-spacing: -0.02em;
              color: #000000;
              padding-top: rem(50);
                @media (max-width: $tablet) {
                  width: 100%;
                  font-size: rem(16);
                  line-height: rem(20);
                }
                @media (max-width: $mobile) {
                  br {
                    display: none;
                  }
                }
            }

            &-img {
             height: rem(430);

                @media (max-width: $tablet) {
                  position: relative;
                  height: rem(280);
                  border-bottom: 1px solid rgb(214, 196, 196);
                    &::after{
                        content:"";
                        position: absolute;
                        border: 1px solid rgb(129, 122, 122);
                        top:0;
                        left:50%;
                        width:60%;
                        margin-left:-30%;

                    }
                }
                @media (max-width: $mobile) {
                  height: rem(350);
                  margin: rem(50) 0;
                }
                @media (max-width: $mobileSmall) {
                  height: rem(240);
                  margin: rem(50) 0;
                }
              &-picture {
                width: 100%;
                height: 100%;
                 @media (max-width: $tablet) {
                   height: 80%;
                 }
                  @media (max-width: $mobile) {
                   height: 85%;
                  }
              }
            }

            &-form {

            }
      }


    .main-form {
     display: flex;
     flex-direction: column;
     gap: rem(35);
        @media (max-width: $tablet) {
          width: 100%;
        }
         @media (max-width: $mobile) {
            align-items: center;
        }
        &__title {
          font-family: 'TT Travels';
          font-style: normal;
          font-weight: 500;
          font-size: rem(32);
          line-height: rem(38);
          color: #000000;
            @media (max-width: $tablet) {
              font-size: rem(20);
              line-height: rem(24);
            }
        }

        &__block {
            position: relative;
            width: 100%;
            height: rem(35);
              @media (max-width: $mobile) {
                  width: 75%;
              }
              @media (max-width: $mobileSmall) {
                  width: 85%;
              }
                &-input {
                  width: 87%;
                  height: 100%;
                  border-radius: rem(8) rem(24) rem(24) rem(8);
                  border-color: #4453D9;
                  padding-left: rem(18);
                  padding-right: rem(45);
                  font-family: 'TT Travels';
                  font-style: normal;
                  font-weight: 500;
                  font-size: rem(16);
                  line-height: rem(19);
                  color: rgba(0, 0, 0, 0.65);
                  outline: none;
                    @media (max-width: $pc) {
                        width: 85%;
                    }
                    @media (max-width: 1300px) {
                        width: 82%;
                    }
                    @media (max-width: 1120px) {
                        width: 79%;
                    }
                    @media (max-width: $tablet) {
                      width: 81%;
                    }
                    @media (max-width: 880px) {
                      width: 78%;
                    }
                    @media (max-width: $mobile) {
                       width: 83%;
                    }
                    @media (max-width: 672px) {
                       width: 79%;
                    }
                    @media (max-width: 550px) {
                       width: 75%;
                    }
                    @media (max-width: 410px) {
                      width: 72%;
                    }
                    @media (max-width: 360px) {
                      width: 65%;
                    }
                    @media (max-width: 290px) {
                      width: 62%;
                    }
                }

                &-button {
                  position: absolute;
                  top: 0;
                  right: 0;
                }
        }
    }
}


//-------main--------


//-------info--------


.info {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(70);
  align-items: center;
  padding-bottom: rem(60);
  border-bottom: 4px solid #FD591F;
      @media (max-width: $mobile) {
          border-bottom: 2px solid #FD591F;
      }
		&__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: rem(28);
      line-height: rem(34);
      letter-spacing: -0.02em;
      color: #4453D9;
        @media (max-width: $mobileSmall) {
            font-size: rem(24);
        }
		}

		&__text {
      height: rem(155);
      width: 80%;
      background-image: url("../img/fon_info_text.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      font-family: 'TT Travels';
      font-style: normal;
      font-weight: 500;
      font-size: rem(18);
      line-height: 144.9%;
      color: #000000;
        @media (max-width: $tablet) {
          background-image: url("../img/fon_info_text_tablet.png");
        }
        @media (max-width: $mobile) {
          background-image: url("../img/fon_info_text_mobile.png");
          height: rem(330);
        }
		}

		&__block {
      display: flex;
      flex-wrap: wrap;
      row-gap: rem(40);
     @include adaptive-value("column-gap", 100, 10);
        @media (max-width: $mobile) {
            flex-direction: column;
        }
      justify-content: center;
        &--first {
            box-sizing: border-box;
            background: #FFFFFF;
            border: 1px solid #4453D9;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            width: 45%;
            height: rem(433);
            position: relative;
            @include adaptive-value("padding", 40, 20);
              @media (max-width: $mobile) {
                  width: 100%;
                }
            &-title {
                font-family: 'TT Travels';
                font-style: normal;
                font-weight: 600;
                font-size: rem(20);
                line-height: rem(24);
                text-transform: uppercase;
                color: #182851;
                    @media (max-width: $tablet) {
                      font-size: rem(15);
                      line-height: rem(20);
                      font-weight: 600;
                    }
                    @media (max-width: $mobileSmall) {
                      font-size: rem(13);;
                    }

            }

            &-list {
              font-family: 'TT Travels';
              font-style: normal;
              font-weight: 500;
              font-size: rem(18);
              line-height: 142.4%;
              color: #000000;
              padding: rem(30) 0 0 rem(20);
                    @media (max-width: $tablet) {
                    font-size: rem(15);
                  }
                  @media (max-width: $mobileSmall) {
                    padding: rem(10) 0 0 rem(20);
                  }
                &-item {
                }
            }
            &-img {
              position: absolute;
              bottom: rem(40);
              right: rem(40);
            }
        }

        &--second {
          box-sizing: border-box;
          background: #FFFFFF;
          border: 1px solid #4453D9;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          width: 45%;
          height: rem(433);
          @include adaptive-value("padding", 30, 20);
          position: relative;
          display: flex;
          flex-direction: column;
                @media (max-width: $mobile) {
                  width: 100%;
                }
            &-title {
                font-family: 'TT Travels';
                font-style: normal;
                font-weight: 600;
                font-size: rem(20);
                line-height: rem(24);
                text-transform: uppercase;
                color: #182851;
                padding-bottom: rem(30);
                  @media (max-width: 1100px) {
                    font-size: rem(19);
                  }
                     @media (max-width: $tablet) {
                      font-size: rem(15);
                      line-height: rem(20);
                      font-weight: 600;
                    }
            }

            &-list {
              font-family: 'TT Travels';
              font-style: normal;
              font-weight: 500;
              font-size: rem(18);
              line-height: 142.4%;
              color: #000000;
              padding: rem(10) 0 0 rem(20);
              list-style-type: decimal;
                  @media (max-width: 1100px) {
                      br {
                        display: none;
                      }
                  }
                  @media (max-width: $tablet) {
                    font-size: rem(15);
                  }
                &-item {
                }
            }
            &-img {
              position: absolute;
              bottom: rem(40);
              right: rem(40);
            }
        }

      &--third {
        box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #4453D9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        width: 45%;
        height: rem(433);
        @include adaptive-value("padding", 40, 20);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
            @media (max-width: $mobile) {
              width: 100%;
            }
          &-title {
              font-family: 'TT Travels';
              font-style: normal;
              font-weight: 500;
              font-size: rem(18);
              line-height: 142.4%;
              color: #000000;
              padding-bottom: rem(25);
                @media (max-width: $tablet) {
                  br {
                    display: none;
                  }
              }
          }
          &-button {
              background: #C8CC00;
              border-radius: 8px;
              width: rem(224);
              height: rem(51);
              font-family: 'TT Travels';
              font-style: normal;
              font-weight: 500;
              font-size: rem(16);
              line-height: rem(19);
              text-align: center;
              color: #000000;
          }
          &-img {
              position: absolute;
              bottom: rem(40);
          }
      }
		}
}



//-------info--------


//-------mission--------


.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: rem(60);
  border-bottom: 4px solid #FD591F;
    @media (max-width: $mobile) {
        border-bottom: 2px solid #FD591F;
    }

		&__title {
        font-family: 'TT Travels';
        font-style: normal;
        font-weight: 500;
        font-size: rem(28);
        line-height: rem(34);
        color: #4453D9;
        padding: rem(80) 0 rem(45) 0;
          @media (max-width: $mobileSmall) {
              font-size: rem(24);
          }
		}

		&__block {
      display: flex;
      @include adaptive-value("gap", 150, 20);
      font-family: 'TT Travels';
      font-style: normal;
      font-weight: 500;
      font-size: rem(20);
      line-height: 151.9%;
          @media (max-width: $tablet) {
              br {
                display: none;
              }
          }
          @media (max-width: $mobile) {
              flex-direction: column;
          }
          span {

              color: #000000;
          }
          a {
              color: #CE4040;
          }
        &-first {
          display: flex;
          flex-direction: column;
          gap: rem(30);
        }

        &-second {
          display: flex;
          flex-direction: column;
          gap: rem(40);
        }
		}
}



//-------mission--------


//-------footer--------



.footer {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  padding: rem(35) 0 rem(55) 0;

   &__logo {
      width: rem(80);
      height: rem(35);
   }

		&__block {
      display: flex;
      justify-content: space-between;
         @media (max-width: $tablet) {
           flex-direction: column;
           gap: rem(5);
         }
        &--menu {
         gap: rem(5);
         display: flex;
         flex-direction: column;
         order: 1;
         span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: rem(16);
            line-height: rem(21);
            color: #000000;
         }
              &-list {
                display: flex;
                flex-direction: column;
                gap: rem(5);
                  &-item {
                      font-family: 'Montserrat';
                      font-style: normal;
                      font-weight: 400;
                      font-size: rem(16);
                      line-height: rem(21);
                      color: #000000;
                  }
              }

        }
        &--social {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: rem(20);
          order: 2;
            @media (max-width: $tablet) {
             order: 3;
            }
            &-icon {
              display: flex;
            }
        }
        &--link {
         display: flex;
         flex-direction: column;
         gap: rem(5);
         order: 3;
            @media (max-width: $tablet) {
             order: 2;
            }
          &-item {
            font-family: 'TT Travels';
            font-style: normal;
            font-weight: 500;
            font-size: rem(16);
            line-height: rem(19);
            color: #000000 !important;
          }
        }
		}
}



//-------footer--------

.just-validate-error-label {
  font-weight: 500;
  font-size: rem(15);
  line-height: rem(20);
  padding-top: rem(5);
    @media (max-width: $tablet) {
      font-size: rem(13);
    }
    @media (max-width: $mobileSmall) {
      font-size: rem(12);
    }
    @media (max-width: 280px) {
      font-size: rem(11);
    }
}

