@use "sass:math";



body,
html {
  font-family: "TT Travels", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  background: none;
}

@function rem($px) {
  $result: ($px / 16) + rem;
  @return $result;
}

@function percent($pxOne, $pxTwo) {
  $result: ($pxOne / $pxTwo) * 100%;
  @return $result;
}

$maxWidthContainer: 1440px;

@mixin adaptive-value($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
    #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / 1440))
  }

$pc: rem(1480); // Пкб ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: rem(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: rem(767.98); // телефоны L
$mobileSmall: rem(479.98); // телефоны s


  .container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    @include adaptive-value("padding-left", 60, 10);
    @include adaptive-value("padding-right", 60, 10);
  }


  //-------header--------

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(100);
    border-bottom: 4px solid #FD591F;
      @media (max-width: $tablet) {
        height: rem(90);
      }
      @media (max-width: $mobile) {
      }
		&__logo {
        width: rem(80);
        height: rem(35);
        @media (max-width: $mobile) {
          width: rem(90);
          height: rem(60);
        }
        @media (max-width: $mobileSmall) {
          width: rem(60);
          height: rem(40);
        }
		}

    &__menu {
      display: flex;
      width: 45%;
      justify-content: space-between;
      &-item {
        font-family: 'TT Travels';
        font-style: normal;
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(19);
        color: #000000;
      }
    }

		&__nav {
      display: flex;
      gap: rem(22);
      align-items: center;
        @media (max-width: $mobile) {
          gap: rem(9);
        }
		}

		&__nav-news-link {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(22);
      color: #000000;
        @media (max-width: $mobileSmall) {
          font-size: rem(12);
          line-height: rem(15);
        }
		}

		&__nav-telegram-link {
		}
}
.telegram-link {
    display: flex;
    align-items: center;
    padding: rem(8) rem(16);
    gap: rem(8);
    background: #26A4E3;
    border-radius: rem(8);
      &__logo {
        @media (max-width: $mobileSmall) {
          width: rem(15);
          height: rem(15);
        }
      }

      &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(22);
        color: #FFFFFF;
          @media (max-width: $mobileSmall) {
            font-size: rem(12);
            line-height: rem(15);
          }
      }
}

 //-------header--------


 //-------main--------


.main {
        padding-top: rem(70);
      &__title {

      }

      &__block {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: rem(180) rem(300);
            &-text {
              font-style: normal;
              font-weight: 500;
              font-size: rem(20);
              line-height: rem(24);
              letter-spacing: -0.02em;
              color: #000000;
              padding-top: rem(35);
            }

            &-img {
            }

            &-form {
            }
      }

  // display: grid;
  // grid-template-columns: auto auto;
  // grid-template-rows: rem(406) auto;
  // gap: rem(30);
  //   @include adaptive-value("padding-left", 120, 10);
  //   @include adaptive-value("padding-right", 120, 10);
  //   @include adaptive-value("padding-top", 50, 5);
  //   @include adaptive-value("gap", 30, 10);
  //   @media (min-width: rem(2000)) {
  //     grid-template-rows: rem(390) auto;
  //   }
  //     @media (max-width: $tablet) {
  //       grid-template-columns: auto;
  //       justify-content: center;
  //       text-align: center;
  //       grid-template-rows: rem(280) auto;
  //     }
  //     @media (max-width: $mobile) {
  //       grid-template-rows: rem(250) auto;
  //     }
  //     @media (max-width: $mobileSmall) {
  //       grid-template-rows: rem(180) auto;
  //     }

      &__title {
        font-style: normal;
        font-weight: 500;
        font-size: rem(48);
        line-height: rem(58);
        color: #FD591F;
        }



        &__img {

        }
    .main-form {
     display: flex;
     flex-direction: column;
     gap: rem(35);
        &__title {
          font-family: 'TT Travels';
          font-style: normal;
          font-weight: 500;
          font-size: rem(32);
          line-height: rem(38);
          color: #000000;
        }

        &__block {
            position: relative;
            width: rem(403);
            height: rem(35);
                &-input {
                  width: 92%;
                  height: 100%;
                  border-radius: rem(8) rem(24) rem(24) rem(8);
                  border-color: #4453D9;
                  padding-left: rem(18);
                  font-family: 'TT Travels';
                  font-style: normal;
                  font-weight: 500;
                  font-size: rem(16);
                  line-height: rem(19);
                  color: rgba(0, 0, 0, 0.65);
                  outline: none;
                }

                &-button {
                  position: absolute;
                  top: 0;
                  right: 0;
                }
        }
    }
}


//-------main--------


//-------info--------

.info {
  display: flex;
  flex-direction: column;
    @include adaptive-value("padding-left", 120, 10);
    @include adaptive-value("padding-right", 120, 10);
    padding-top: rem(125);
    padding-bottom: rem(50);
      @media (max-width: $tablet) {
        align-items: center;
        padding-top: rem(40);
      }
      @media (max-width: $mobile) {
        padding-bottom: rem(20);
      }
      @media (max-width: $mobileSmall) {

      }
  &__line {
    border: 1.5px solid #492DFF;
      @media (max-width: $tablet) {
       display: none;
      }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(60);
    font-size: rem(30);
    padding: rem(85) rem(30) 0 rem(30);
    font-weight: 400;
    line-height: rem(37);
    @include adaptive-value("gap", 60, 40);

     @media (max-width: $tablet) {
       padding: 0;
       width: 100%;
        br {
          display: none;
        }
      }
     @media (max-width: $mobile) {
        @include adaptive-value("font-size", 40, 20);
      }
     @media (max-width: $mobileSmall) {

      }
     @media (max-width: rem(370)) {

           line-height: rem(27);
      }


    &-questions {
      display: flex;
      justify-content: space-between;
      gap: rem(5);
      @media (max-width: $tablet) {
        flex-direction: column;

       }
      &-first {
        display: flex;
        gap: rem(30);
        align-items: center;

      @media (max-width: $mobile) {
        gap: rem(20);

       }
        &-text {
          color: #4453D9;
        }
      }

      &-second {
        display: flex;
        gap: rem(30);
        align-items: center;

      @media (max-width: $tablet) {
        transform: translate(0, rem(190));
       }
      @media (max-width: $mobile) {
        transform: translate(0, rem(150));
        gap: rem(20);
      }
      @media (max-width: $mobileSmall) {
        // transform: translate(0, rem(130));
      }
      @media (max-width: rem(377)) {
        transform: translate(0, rem(175));
      }
        &-text {
          color: #4453D9;
        }
      }
    }
    &-answeas {
      display: flex;
      justify-content: space-between;
      gap: rem(65);
      @media (max-width: $tablet) {
        flex-direction: column;
       }
      &-first {
        display: flex;
        gap: rem(30);
        align-items: center;

      @media (max-width: $tablet) {
        transform: translate(0, rem(-50));
       }
      @media (max-width: $mobile) {
         gap: rem(20);
       }
        &-text {
          color: #000000;
        }
      }

      &-second {
        display: flex;
        gap: rem(30);
        align-items: center;

          @media (max-width: $tablet) {
            transform: translate(0, rem(80));
        }
      @media (max-width: $mobile) {
        transform: translate(0, rem(30));
        gap: rem(20);
      }
      @media (max-width: $mobileSmall) {
        transform: translate(0, rem(40));
      }
      @media (max-width: rem(370)) {
        transform: translate(0, rem(30));
      }
        &-text {
          color: #000000;
        }
      }
    }
  }

}
.info-icon {
  width: rem(43);
  height: rem(45);

      @media (max-width: $mobile) {
        width: rem(24);
        height: rem(24);
      }
}



//-------info--------


//-------footer--------
.foot {
      @media (max-width: $tablet) {
    }
}
.footer {
  background-image: url('../img/Footer-fon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: rem(570);
    @media (max-width: $tablet) {
      transform: translate(0, rem(160));
       height: rem(700);
    }
   @media (max-width: $mobile) {
      transform: translate(0, rem(100));
    }
   @media (max-width: $mobileSmall) {
    }
      @media (max-width: rem(370)) {
        transform: translate(0, rem(50));
      }

		&__container{
       display: flex;
       flex-direction: column;
      @include adaptive-value("padding-left", 120, 10);
      @include adaptive-value("padding-right", 120, 10);
      padding-top: rem(85);
        @media (max-width: $mobile) {
          padding-top: rem(30);
        }
        @media (max-width: rem(370)) {

        }

       &-title {
          font-weight: 500;
          font-size: rem(55);
          line-height: rem(66);
          color: #F9F9F9;
          padding-bottom: rem(15);

             @media (max-width: $mobile) {
                font-weight: 500;
                font-size: rem(35);
                line-height: rem(29);
              }
              @media (max-width: $mobileSmall) {
                font-weight: 500;
                font-size: rem(24);
                line-height: rem(30);
                padding-bottom: rem(10);
              }
              @media (max-width: rem(370)) {

              }
       }

      &-text {
        font-weight: 400;
        font-size: rem(33);
        line-height: rem(39);
        color: #F9F9F9;
        padding-bottom: rem(35);

              @media (max-width: $mobile) {
                font-weight: 400;
                font-size: rem(20);
                line-height: rem(24);
              }
              @media (max-width: $mobileSmall) {
                font-weight: 400;
                font-size: rem(20);
                line-height: rem(24);
                height: rem(54);
                padding-bottom: rem(10);
              }
              @media (max-width: rem(370)) {

              }
      }

      &-rules {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: rem(22);
        line-height: 166%;
        letter-spacing: 0.718563px;
        color: rgba(255, 255, 255, 0.5);
        padding-bottom: rem(35);

      }

      &-copy {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(15);
        color: rgba(255, 255, 255, 0.5);

      }
		}

}

.just-validate-error-label {
  font-weight: 500;
  font-size: rem(20);
  line-height: rem(20);
}


//-------footer--------

