body,
html {
  font-family: "TT Travels", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-right: calc(10px + 110 * ((100vw - 320px) / 1440));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.25rem;
  border-bottom: 4px solid #FD591F;
}
@media (max-width: 61.99875rem) {
  .header {
    height: 5.625rem;
  }
}
.header__logo {
  width: 5rem;
  height: 2.1875rem;
}
@media (max-width: 47.99875rem) {
  .header__logo {
    width: 5.625rem;
    height: 3.75rem;
  }
}
@media (max-width: 29.99875rem) {
  .header__logo {
    width: 3.75rem;
    height: 2.5rem;
  }
}
.header__menu {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.header__menu-item {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #000000;
}
.header__nav {
  display: flex;
  gap: 1.375rem;
  align-items: center;
}
@media (max-width: 47.99875rem) {
  .header__nav {
    gap: 0.5625rem;
  }
}
.header__nav-news-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #000000;
}
@media (max-width: 29.99875rem) {
  .header__nav-news-link {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}
.telegram-link {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  background: #26A4E3;
  border-radius: 0.5rem;
}
@media (max-width: 29.99875rem) {
  .telegram-link__logo {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
.telegram-link__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #FFFFFF;
}
@media (max-width: 29.99875rem) {
  .telegram-link__title {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}

.main {
  padding-top: 4.375rem;
  padding-bottom: calc(10px + 50 * ((100vw - 320px) / 1440));
  border-bottom: 4px solid #FD591F;
}
.main__block {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 13.125rem 9.375rem;
}
.main__block-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: #000000;
  padding-top: 3.125rem;
}
.main__block-img {
  justify-content: end;
  width: 100%;
}
.main__block-img-picture {
  width: 105%;
  height: 100%;
}
.main__title {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.625rem;
  color: #FD591F;
}
.main .main-form {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}
.main .main-form__title {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.375rem;
  color: #000000;
}
.main .main-form__block {
  position: relative;
  width: 25.1875rem;
  height: 2.1875rem;
}
.main .main-form__block-input {
  width: 92%;
  height: 100%;
  border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;
  border-color: #4453D9;
  padding-left: 1.125rem;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: rgba(0, 0, 0, 0.65);
  outline: none;
}
.main .main-form__block-button {
  position: absolute;
  top: 0;
  right: 0;
}

.info {
  display: flex;
  flex-direction: column;
  padding-left: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-right: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-top: 7.8125rem;
  padding-bottom: 3.125rem;
}
@media (max-width: 61.99875rem) {
  .info {
    align-items: center;
    padding-top: 2.5rem;
  }
}
@media (max-width: 47.99875rem) {
  .info {
    padding-bottom: 1.25rem;
  }
}
.info__line {
  border: 1.5px solid #492DFF;
}
@media (max-width: 61.99875rem) {
  .info__line {
    display: none;
  }
}
.info__content {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  font-size: 1.875rem;
  padding: 5.3125rem 1.875rem 0 1.875rem;
  font-weight: 400;
  line-height: 2.3125rem;
  gap: calc(40px + 20 * ((100vw - 320px) / 1440));
}
@media (max-width: 61.99875rem) {
  .info__content {
    padding: 0;
    width: 100%;
  }
  .info__content br {
    display: none;
  }
}
@media (max-width: 47.99875rem) {
  .info__content {
    font-size: calc(20px + 20 * ((100vw - 320px) / 1440));
  }
}
@media (max-width: 23.125rem) {
  .info__content {
    line-height: 1.6875rem;
  }
}
.info__content-questions {
  display: flex;
  justify-content: space-between;
  gap: 0.3125rem;
}
@media (max-width: 61.99875rem) {
  .info__content-questions {
    flex-direction: column;
  }
}
.info__content-questions-first {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 47.99875rem) {
  .info__content-questions-first {
    gap: 1.25rem;
  }
}
.info__content-questions-first-text {
  color: #4453D9;
}
.info__content-questions-second {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 61.99875rem) {
  .info__content-questions-second {
    transform: translate(0, 11.875rem);
  }
}
@media (max-width: 47.99875rem) {
  .info__content-questions-second {
    transform: translate(0, 9.375rem);
    gap: 1.25rem;
  }
}
@media (max-width: 23.5625rem) {
  .info__content-questions-second {
    transform: translate(0, 10.9375rem);
  }
}
.info__content-questions-second-text {
  color: #4453D9;
}
.info__content-answeas {
  display: flex;
  justify-content: space-between;
  gap: 4.0625rem;
}
@media (max-width: 61.99875rem) {
  .info__content-answeas {
    flex-direction: column;
  }
}
.info__content-answeas-first {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 61.99875rem) {
  .info__content-answeas-first {
    transform: translate(0, -3.125rem);
  }
}
@media (max-width: 47.99875rem) {
  .info__content-answeas-first {
    gap: 1.25rem;
  }
}
.info__content-answeas-first-text {
  color: #000000;
}
.info__content-answeas-second {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}
@media (max-width: 61.99875rem) {
  .info__content-answeas-second {
    transform: translate(0, 5rem);
  }
}
@media (max-width: 47.99875rem) {
  .info__content-answeas-second {
    transform: translate(0, 1.875rem);
    gap: 1.25rem;
  }
}
@media (max-width: 29.99875rem) {
  .info__content-answeas-second {
    transform: translate(0, 2.5rem);
  }
}
@media (max-width: 23.125rem) {
  .info__content-answeas-second {
    transform: translate(0, 1.875rem);
  }
}
.info__content-answeas-second-text {
  color: #000000;
}

.info-icon {
  width: 2.6875rem;
  height: 2.8125rem;
}
@media (max-width: 47.99875rem) {
  .info-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.footer {
  background-image: url("../img/Footer-fon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35.625rem;
}
@media (max-width: 61.99875rem) {
  .footer {
    transform: translate(0, 10rem);
    height: 43.75rem;
  }
}
@media (max-width: 47.99875rem) {
  .footer {
    transform: translate(0, 6.25rem);
  }
}
@media (max-width: 23.125rem) {
  .footer {
    transform: translate(0, 3.125rem);
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding-left: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-right: calc(10px + 110 * ((100vw - 320px) / 1440));
  padding-top: 5.3125rem;
}
@media (max-width: 47.99875rem) {
  .footer__container {
    padding-top: 1.875rem;
  }
}
.footer__container-title {
  font-weight: 500;
  font-size: 3.4375rem;
  line-height: 4.125rem;
  color: #F9F9F9;
  padding-bottom: 0.9375rem;
}
@media (max-width: 47.99875rem) {
  .footer__container-title {
    font-weight: 500;
    font-size: 2.1875rem;
    line-height: 1.8125rem;
  }
}
@media (max-width: 29.99875rem) {
  .footer__container-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.875rem;
    padding-bottom: 0.625rem;
  }
}
.footer__container-text {
  font-weight: 400;
  font-size: 2.0625rem;
  line-height: 2.4375rem;
  color: #F9F9F9;
  padding-bottom: 2.1875rem;
}
@media (max-width: 47.99875rem) {
  .footer__container-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 29.99875rem) {
  .footer__container-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 3.375rem;
    padding-bottom: 0.625rem;
  }
}
.footer__container-rules {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 166%;
  letter-spacing: 0.718563px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 2.1875rem;
}
.footer__container-copy {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: rgba(255, 255, 255, 0.5);
}

.just-validate-error-label {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25rem;
}/*# sourceMappingURL=style.css.map */